@use "../../abstracts/index" as abs;

.sidebar {
  width: 100%;
  max-width: 25rem;
  box-shadow: abs.$box-shadow-2;
  background-color: var(--card-bg);
  transition: box-shadow 0.25s ease;
  @include abs.cursive_border($border-width: 0.2rem, $border-radius: 0.1rem, $color: var(--neutral-1000));

  &__heading-box {
    padding: .5rem;
    text-align: center;
    font-variant: all-small-caps;
    color: var(--neutral-1000);
  }
}
@include abs.mq(medium) {
  aside.container {
    width: fit-content;
  }
  .sidebar {
    width: 15rem;
  }
}
