@use "../../abstracts/index" as abs;


.sidebar {
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 0.3rem 0 var(--clr-dark-cosmos-300);
  @include abs.cursive_border($border-width: 0.2rem, $border-radius: 0.2rem, $color: var(--clr-dark-cosmos-300));

  &__heading-box {
    padding: .5rem;
    text-align: center;
    font-variant: all-small-caps
  }
}
@include abs.mq(medium) {
  aside.container {
    width: fit-content;
  }
  .sidebar {
    width: 15rem;
  }
}
