@use "../../abstracts/index" as abs;
@use "../../abstracts/index" as *;
.dropdown {
  width: fit-content;
  transform: translateX(5%);
  overflow: hidden;
  transition: height 500ms ease;
  box-sizing: content-box;
  z-index: 2;
  background-color: $card-background-default;
  @include abs.cursive_border();
  &--youtube-video {
    width: 100%;
  }
  &__menu-item {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 2.5rem;
    transition: background 500ms;
    text-decoration: none;
    width: 100%;
    color: var(--neutral-1000);
    font-size: var(--fs-small-400);
    margin-block: 0.2rem;
    @include cursive_border($color: transparent);
    &:hover {
      background-color: var(--primary-200);
      color: var(--neutral-100);
      width: 100%;
    }
  }
  &__icon {
    margin-right: 0.5rem;
    &:hover {
      filter: none;
    }
  }
}