@use "../abstracts/index" as abs;

.pagination {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    text-decoration: underline var(--clr-star-300);
    margin: 0.625rem;
    @include abs.font($font-size: 1rem, $color: var(--clr-star-300));

    & span {
      color: var(--clr-dark-cosmsos-300);
      font-weight: bold;
    }
  }

  @include abs.mq(small) {
    &__container {
      flex-direction: row;
    }
  }
}