@use "../abstracts/index" as abs;

.pagination {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    text-decoration: underline var(--neutral-1000);
    margin: 0.625rem;
    @include abs.font($font-size: 1rem, $color: var(--neutral-1000));

    & span {
      color: var(--dark-cosmsos-300);
      font-weight: bold;
    }
  }

  @include abs.mq(small) {
    &__container {
      flex-direction: row;
    }
  }
}