@use "../abstracts/index" as abs;

.toolbar {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    flex-flow: wrap;
  }

  &__tools {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin-block: 0.8rem;
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--clr-star-200);
    border-radius: 0.3rem;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    position: absolute;
    z-index: 1;
  }

  &__options {
    box-sizing: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    gap: 10px;
  }

  &__actions{
    width: 100%;
  }

  @include abs.mq(medium) {
    &__container {
      justify-content: space-between;
    }
    &__tools {
      justify-content: center;
      width: fit-content;
    }
  }

  @include abs.mq(xl) {
    &__wrapper {
      width: 60%;
    }
  }
}
