@use "../abstracts/index" as abs;
@use "../abstracts/variables" as *;

.toolbar {
  &__container {
    display: flex;
    align-items: center;
    overflow: visible;
    flex-flow: wrap;
  }

  &__tools {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin-block: 0.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-neutral-100);
    @include abs.cursive_border($border-width: 0.12rem);
    box-shadow: $box-shadow-2;
    z-index: 1;
    position: absolute;
    top: 23rem;
    width: fit-content;
    overflow: visible;
  }

  &__options {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 10px;
    padding: 1rem 0.5rem 0.5rem 0.5rem;

  }

  &__title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-inline: 0.5rem;
    color: var(--clr-neutral-1000);
  }

  &__actions{
    display: flex;
    width: 100%;
  }

  @include abs.mq(medium) {
    &__container {
      justify-content: space-between;
    }
    &__tools {
      justify-content: center;
      width: fit-content;
    }
  }
}
