@use "../abstracts/index" as *;

.profile, .dashboard {
  &__user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10rem;
    font-size: var(--fs-large-900);
    svg {
      color: var(--neutral-1000);
      background-color: var(--primary-300);
      padding: 2rem;
      box-shadow: $box-shadow-1;
      @include cursive_border($border-width: 0.15rem, $border-radius: 0.2rem);
    }
  }
  & .btn--big-hg {
    margin: 0.5rem;
  }

  @include mq(medium) {
    .btn--big-hg {
      width: 45%;
    }
  }
}
