@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/index" as abs;

:root {
  color-scheme: light dark;

  @include abs.emit-theme($light);

  @media (prefers-color-scheme: dark) {
    &:not([data-theme="light"]) {
      @include abs.emit-theme($dark);
    }
  }

  &[data-theme="light"] {
    @include abs.emit-theme($light);
    color-scheme: light;
  }

  &[data-theme="dark"] {
    @include abs.emit-theme($dark);
    color-scheme: dark;
  }



  @each $font-size, $property in $font-sizes {
    @if $font-size == small {
      @each $prop, $value in $property {
        --fs-#{$font-size}-#{$prop}: #{$value};
      }
    }

    @if $font-size == medium {
      @each $prop, $value in $property {
        --fs-#{$font-size}-#{$prop}: #{$value};
      }
    }

    @if $font-size == large {
      @each $prop, $value in $property {
        --fs-#{$font-size}-#{$prop}: #{$value};
      }
    }
  }

  @each $breakpoint, $value in $breakpoints {
    --breakpoint-#{$breakpoint}: #{$value};
  }
}