@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/index" as abs;

:root {
  color-scheme: light dark;

  &[data-theme="light"] {
    color-scheme: light;
    @include abs.emit-theme($light);
  }

  &[data-theme="dark"] {
    color-scheme: dark;
    @include abs.emit-theme($dark);
  }


  @media (prefers-color-scheme: dark) {
    @each $color, $shade-map in $dark {
      @each $shade, $value in $shade-map {
        --#{$color}-#{$shade}: #{$value};
      }
    }
  }

  @each $font-size, $property in $font-sizes {
    @if $font-size == small {
      @each $prop, $value in $property {
        --fs-#{$font-size}-#{$prop}: #{$value};
      }
    }

    @if $font-size == medium {
      @each $prop, $value in $property {
        --fs-#{$font-size}-#{$prop}: #{$value};
      }
    }

    @if $font-size == large {
      @each $prop, $value in $property {
        --fs-#{$font-size}-#{$prop}: #{$value};
      }
    }
  }

  @each $breakpoint, $value in $breakpoints {
    --breakpoint-#{$breakpoint}: #{$value};
  }
}