@use "../../abstracts/index" as abs;


.btn-goTop {
  position: fixed;
  background: var(--primary-300);
  width: 2.5rem;
  height: 2.5rem;
  @include abs.cursive_border($border-width: 0.15rem, $border-radius:1.5625rem);
  bottom: 5%;
  left: 89%;
  cursor: pointer;
  text-align: center;
  line-height: 1.875rem;
  z-index: 10;
   &__text{
     color: var(--neutral-1000);
     &:hover {
       transform: scale(1.1);
     }
   }
}