@use "colors" as *;
@use "variables" as *;
@use "sass:meta";

@mixin font($font-size: var(--fs-medium-300),
          $font-weight: normal,
          $color: var(--neutral-1000),
          $font-family: inherit,
          $font-variant: none) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  font-variant: $font-variant;
  color: $color;
}

@mixin heading($fs, $color: $heading-color-default, $font-family: $heading-font-family, $font-variant: none) {
  font-size: $fs;
  color: $color;
  font-family: $font-family;
  font-variant: $font-variant;
  text-transform: $heading-text-transform;
  letter-spacing: $heading-letter-spacing;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

/*
  @param {List}   $sides - Optional sides: top right bottom left
  @param {List}   $corners - top-left top-right bottom-right bottom-left etc
*/
@mixin cursive_border(
  $border-width: 0.2rem,
  $border-radius: 0.2rem,
  $color: var(--neutral-1000),
  $style: solid,
  $sides: null,
  $corners: null
) {

  @if meta.type-of($corners) == 'list'  {
    @each $corner in $corners {
      border-#{$corner}: $border-radius;
    }
  } @else {
    border-radius: $border-radius;
  }

  @if meta.type-of($sides) == 'list'  {
    @each $side in $sides {
      border-#{$side}: $border-width $style $color;
    }
  } @else {
    border: $border-width $style $color;
  }
}


// Base HR style
@mixin hr-base(
  $color: var(--neutral-1000),
  $height: 1px,
  $margin-block: 0.5rem,
  $width: 100%
) {
  border: none;
  height: $height;
  &:not([class*="bg-"]) {
    background-color: $color;
  }
  margin-block: $margin-block;
  width: $width;
}

// Dotted variant
@mixin hr-dotted($color: #999, $width: 100%) {
  border: none;
  border-top: 1px dotted $color;
  background: none;
  width: $width;
  margin: 1rem 0;
}

// Dashed variant
@mixin hr-dashed($color: #aaa, $width: 100%) {
  border: none;
  border-top: 1px dashed $color;
  background: none;
  width: $width;
  margin: 1rem 0;
}

// Ellipsis
@mixin multiline-ellipsis($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin singleLine-ellipsis($max-width: 15rem) {
  max-width: $max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
