@use "colors" as *;
@use "mixins" as *;
@use "variables" as *;

@mixin button {
  display: inline-block;
  box-sizing: border-box;
  padding: $button-padding-y $button-padding-x;
  line-height: $button-line-height;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  transition: $button-transition;
  user-select: none;
  @include font(
          $font-size: $button-font-size,
          $font-weight: $button-font-weight,
          $color: var(--neutral-1000)
  );
  @include cursive_border(
                  $button-border-width,
                  $button-border-radius,
                  $button-default-border-color
  );
}

@mixin button-color-variation(
  $color: var(--neutral-1000),
  $background-color: var(--secondary-300),
  $border-color: var(--secondary-300)
) {
  color: $color;
  border-color: $border-color;
  &:not([class*="bg-"]) {
    background-color: $background-color;
  }
}

@mixin button-hover($color: var(--secondary-400), $background-color: transparent, $border-color: var(--neutral-1000)) {
  &:hover,
  &:focus {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
    outline: 0;
  }
}

@mixin button-size(
  $padding-y: $button-padding-y,
  $padding-x: $button-padding-x,
  $font-size: $button-font-size) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
}

