$-ff-sans-serif: sans-serif;
$-ff-roboto: 'Roboto', sans-serif;
$-ff-monospace: 'monospace', 'Roboto', sans-serif;
$-ff-orbitron: 'Orbitron', 'monospace', sans-serif;

$font-family-base: $-ff-roboto;
$font-family-accent: $-ff-sans-serif;
$font-family-orbitron: $-ff-orbitron;

$font-sizes: (
        /* Low contrast - ration = 1.125 */
        small: (
                "100": 0.625rem,
                "200": 0.925rem,
                "300": 1rem,
                "400": 1.125rem,
                "500": 1.25rem,
                "600": 1.375rem,
                "700": 1.5rem,
                "800": 1.75rem,
                "900": 1.9rem,
                "1000": 2rem,
        ),
        /* Medium contrast - ration = 1.200 */
        medium: (
                "100": 0.725rem,
                "200": 0.825rem,
                "300": 1rem,
                "400": 1.25rem,
                "500": 1.425rem,
                "600": 1.725rem,
                "700": 2rem,
                "800": 2.4rem,
                "900": 3rem,
                "1000": 3.5rem,
        ),
        /* High contrast - ration = 1.414 */
        large: (
                "100": 0.525rem,
                "200": 0.725rem,
                "300": 1rem,
                "400": 1.414rem,
                "500": 2rem,
                "600": 2.8rem,
                "700": 4rem,
                "800": 5.625rem,
                "900": 6.25rem,
                "1000": 8.25rem,
        )

);

$font-size-300: var(--fs-small-300);
$font-size-400: var(--fs-small-400);
$font-size-500: var(--fs-medium-500);
$font-size-600: var(--fs-medium-600);
$font-size-700: var(--fs-medium-700);
$font-size-800: var(--fs-large-700);
$font-size-900: var(--fs-large-800);


$-fw-400: 400;
$-fw-500: 500;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-500;
$font-weight-bold: $-fw-700;