@use "../../abstracts/index" as abs;
@use "../../abstracts/index" as *;

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--neutral-1000);

  &--shadow {
    box-shadow: $box-shadow-2;
    border: 0.1rem solid var(--neutral-1000);
  }

  & hr {
    width: 100%;
    border: none;
    height: 0.125rem;
    margin-block: 0.2rem;
    background-color: var(--neutral-1000);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__detail-box {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;

    &.scrolling {
      max-height: 5rem;
      overflow-y: scroll;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem 0;

    & a {
      @include abs.font($font-size: var(--fs-medium-500));
    }
  }

  @include abs.mq(medium) {
    &--small {
      width: 50%;
    }

    &__container {
      flex-direction: row;
    }
  }
}