@use "../../abstracts/index" as abs;
@use "../../abstracts/variables" as *;

.badge {
  &--pill {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--clr-neutral-1000);
    padding: 0.1rem 0.4rem;
    font-weight: 500;
    text-align: center;
    vertical-align: baseline;
    @include abs.cursive_border($border-width: 0.0625rem);
    box-shadow: $box-shadow-3;
    margin: 0.2rem;
    &:not([class*="bg-"]){
      background-color: var(--clr-secondary-300);
    }
  }
}
