@use "../../abstracts/index" as abs;
@use "../../abstracts/variables" as *;
@use "../../abstracts/colors" as *;

.badge {
  &--pill {
    text-transform: uppercase;
    text-align: center;
    vertical-align: baseline;
    margin: 0.2rem;
    padding: 0.1rem 0.4rem;
    box-shadow: $box-shadow-3;
    @include abs.cursive_border($border-width: 0.0625rem);
    @include abs.font($font-size: var(--fs-100), $font-weight: 500, $color: var(--clr-neutral-1000));
  }

  &--primary {
    background-color: var($color-primary-300);
  }

  &--success {
    background-color: $clr-success-300;
    color: $clr-dark-cosmos-300;
  }

  &--warning {
    background-color: $clr-warning-300;
    color: $clr-dark-cosmos-300;
  }
}
