@use "../../abstracts/index" as *;
@use "../../abstracts/index" as abs;

.counter {
  display: flex;
  justify-content: center;
  font-family: $font-family-orbitron;
  &--container{
    position: absolute;
    top: 27.5rem;
    background-color: var(--primary-300);
    padding: 0.8rem;
    box-shadow: $box-shadow-2;
    @include abs.cursive_border($border-width: $card-border-width, $border-radius: $card-border-radius);
  }

  &__digit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number {
    display: flex;
    flex-wrap: nowrap;
    @include abs.font($font-size: var(--fs-medium-400), $color: var(--neutral-1000));
    & > span {
      text-align: center;
      flex-wrap: nowrap;
      font-weight: 500
    }
  }

  &__label {
    @include abs.font($font-size: var(--fs-medium-300), $font-weight: 800, $color: var(--neutral-1000), $font-variant: all-small-caps);
    text-align: center;
  }
}