@use "../abstracts/index" as abs;

.container {
  &--form {
    border: 0.2rem solid var(--neutral-1000);
    border-radius: .2rem;
    background-color: var(--star-100);
    box-shadow: 0 .3rem var(--neutral-1000);
  }

  @include abs.mq(medium) {
    &--form {
      max-width: 55%;
    }
  }
}
