@use "../../abstracts" as abs;

.grid {
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__layout {
    width: 100%;
    padding: 1rem;
  }

  &__portrait {
    width: 100%;
    justify-items: center;
    @include abs.repeat-grid($min-col: auto, $min-row: auto, $gap: 0.9rem);
  }

  &__landscape {
    width: 100%;
    justify-items: center;
    @include abs.grid(
            $rows: repeat(auto-fill, minmax(200px, 1fr)),
            $columns: repeat(1, 1fr),
            $gap: 1.2rem
    );
  }

  @include abs.mq(small) {
    &__portrait--vehicle{
      @include abs.repeat-grid($col: auto-fill, $min-col: 400px, $gap: 0.9rem);
    }
  }

  @include abs.mq(medium) {
    &__container {
      flex-direction: row;
    }
    &__portrait {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
  }

  @include abs.mq(xl) {
    &__portrait {
      grid-template-columns: repeat(3, minmax(220px, 1fr));
    }
  }

  @include abs.mq(xxl) {
    &__portrait {
      grid-template-columns: repeat(3, minmax(230px, 1fr));
    }
    &__portrait--vehicle{
      @include abs.repeat-grid($col: 2, $min-col: 400px, $gap: 0.9rem);
    }
  }
}