@use "../../abstracts" as abs;
@use "../../abstracts/variables" as *;

.grid {
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__wrapper {
    width: 100%;
    padding: 1rem;
  }

  &__layout {
    --col-size: #{$grid-col-size};
    --col-count: #{$grid-col-count};
    --gap: #{$grid-gap};
    width: 100%;
    justify-items: center;
    @include abs.repeat-grid($col: var(--col-count), $min-col: var(--col-size), $gap: var(--gap));

    &--landscape {
      --col-count: 1;
      --gap: 1.2rem;
    }
  }

  @include abs.mq(medium) {
    &__container {
      flex-direction: row;
    }
    &__layout:not(.grid__layout--vehicle) {
      --col-size: 12.5rem;
    }
  }

  @include abs.mq(xxl) {
    &__layout--vehicle{
      --col-count: 2;
      --col-size: 25rem;
    }
  }
}