@use "../../abstracts/index" as abs;

.dialog__container{
  & div.container {
    &.scrolling{
      max-height: 14rem;
      overflow-y: scroll;
    }
    & button:hover{
      transform: scale(1.2);
    }
  }
  & div.form-content {
    width: 100%;
    & img.thumbnail {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-right-radius: 0.3rem;
    }
  }
}