@use "../../abstracts/index" as *;
@use "../../abstracts/index" as abs;

.dialog {
  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0 0 0 / 0.5);
    transition: opacity 0.3s ease;
    pointer-events: none;
    animation: overlayShow 650ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 1000;
  }

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: inherit;
    width: 100%;
    background: var(--primary-300);
    color: var(--neutral-1000);
    box-shadow: $box-shadow-2;
    @include abs.cursive_border();
    animation: contentShow 350ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 1000;
    &:focus {
      outline: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    box-sizing: inherit;
    border-bottom: 2px solid var(--neutral-1000);
    padding: 2rem;
    color: var(--clr-dark-cosmos-300);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: calc(100% - 100px);
    overflow-y: auto;
    & button:not(button[type="submit"]):not(.btn-resend), a {
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    padding: 1rem;
    @include abs.font($font-size: var(--fs-medium-400), $font-weight: 500, $color: var(--neutral-1000));
  }

  &__thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    @include abs.cursive_border($border-width: 0.15rem);
    box-shadow: $box-shadow-2;
  }

  &__actions {
    display: flex;
    flex-flow: wrap;
    justify-content: right;
    margin: 2rem;
  }

  @include abs.mq(small) {
    &__container {
      max-width: 30rem;
      &--youtube {
        max-width: 80rem;
      }
    }
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}