@use "../../abstracts/index" as *;
@use "../../abstracts/index" as abs;

.dialog {
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    opacity: 0;
    background: rgba(0 0 0 / 0.5);
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 9999;

    &[data-state='open'] {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__root {
    transform: translateY(-20px);
    transition: transform 0.4s ease, opacity 0.3s ease;
    width: fit-content;
    pointer-events: none;
    opacity: 0;

    &[data-state='open'] {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(30px);
    }

  }

  &__container {
    box-sizing: inherit;
    width: 100vw;
    background: var(--primary-300);
    color: var(--neutral-1000);
    box-shadow: $box-shadow-2;
    @include abs.cursive_border();
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    box-sizing: inherit;
    border-bottom: 2px solid var(--neutral-1000);
    padding: 2rem;
    color: var(--clr-dark-cosmos-300);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: calc(100% - 100px);
    overflow-y: auto;
    & input[type="checkbox"] {
      height: 1.25rem;
      width: 1.25rem;;
      cursor: pointer;
    }

    & button:not(button[type="submit"]):not(.btn-resend), a {
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__list {
    width: 100%;
  }

  &__actions {
    display: flex;
    flex-flow: wrap;
    justify-content: right;
    margin: 2rem;
  }

  @include abs.mq(small) {
    &__container {
      width: 30rem;
    }
  }
}