@use "../abstracts" as abs;

@include abs.mq(medium) {
  .article-card {
    &--small-wrapper {
      height: 16rem;
    }
    &--medium-wrapper {
      height: 18.5rem;
    }
    &--large-wrapper {
      height: 20rem;
    }
  }
  .small-wrapper {
    height: 16rem;
  }
  .medium-wrapper {
    height: 24rem;
  }
  .large-wrapper {
    height: 20rem;
  }
}

@include abs.mq(xl) {
  .medium-wrapper {
    height: 20rem;
  }
  .large-wrapper {
    height: 21rem;
  }
}

@include abs.mq(xxl) {
  .medium-wrapper {
    height: 18.5rem;
  }
  .large-wrapper {
    height: 21rem;
  }
}