@use "../abstracts" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

@each $color, $shade-map in $active-theme {
  @each $shade, $value in $shade-map {
    .clr-#{$color}-#{$shade} {
      color: var(--#{$color}-#{$shade});
    }
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade});
    }
  }
}

@each $name in $clr-constants {
  .clr-#{$name} {
    color: var(--#{$name});
  }
  .bg-#{$name} {
    background-color: var(--#{$name});
  }
}
