@use "../../../abstracts/index" as abs;
@use "../../../abstracts/variables" as *;

.landscape-card {
  position: relative;
  word-wrap: break-word;
  box-sizing: inherit;
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $card-background-default;
    @include abs.cursive_border($border-width: $card-border-width, $border-radius: $card-border-radius);
    box-shadow: $card-shadow;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.25s ease, transform 0.25s ease;

    &--article-card{
      max-width: 850px;
    }

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: $box-shadow-1;
    }
  }

  &__media {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 18rem;
    &--link {
      position: relative;
      display: block;
      &::after {
        content: '';
        background-color: rgba(224, 218, 239, 0.2980392157);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        opacity: 0;
        transition: opacity 0.3s ease-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  &__title{
    font-size: var(--fs-small-400);
    text-decoration: none;
    color: var(--neutral-1000);
    &:hover {
      text-decoration: underline;
    }
  }

  &:has(.landscape-card__media--link:hover),
  &:has(.landscape-card__title:hover) {
    .landscape-card__media--link::after {
      opacity: 1;
    }
    .landscape-card__title {
      text-decoration: underline;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: block;
    outline: 0.1rem solid var(--neutral-1000);
    background-color: var(--card-bg);
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;

    &--small {
      aspect-ratio: 3 / 2;
    }

    &--scale-down {
      object-fit: scale-down;
      padding: 0.2rem;
    }
  }

  &__content {
    color: var(--neutral-1000);
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  &__assistance {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  &__detail-box {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;

    & .title{
      font-size: var(--fs-small-400);
    }

    & svg {
      margin: 0 0.5rem;
    }
  }

  &__actions, &__video {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  &__action {
    display: inline-flex;
  }

  &--ellipsis {
    @include abs.multiline-ellipsis(3);
  }

  &--scrolling {
    max-height: 5rem;
    overflow-y: scroll;
  }

  @include abs.mq(medium) {
    &__container {
      max-width: 100%;
      flex-direction: row;
    }
    &__media {
      max-height: 100%;
      width: 50%;
    }
  }
}