@use "../../../abstracts/index" as abs;
@use "../../../abstracts/variables" as *;

.landscape-card {
  position: relative;
  word-wrap: break-word;
  box-sizing: inherit;
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $card-background-default;
    @include abs.cursive_border($border-width: $card-border-width, $border-radius: $card-border-radius);
    box-shadow: $card-shadow;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.25s ease, transform 0.25s ease;

    &--article-card{
      max-width: 850px;
    }

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: $box-shadow-1;
    }
  }

  &__media {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 18rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: block;
    outline: 0.1rem solid var(--neutral-1000);
    background-color: var(--card-bg);
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;

    &--small {
      aspect-ratio: 3 / 2;
    }

    &--scale-down {
      object-fit: scale-down;
      padding: 0.2rem;
    }
  }

  &__content {
    color: var(--neutral-1000);
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  & .title{
      font-size: var(--fs-small-400);
  }

  &__assistance {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  &__detail-box {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;

    & .title{
      font-size: var(--fs-small-400);
    }

    & svg {
      margin: 0 0.5rem;
    }
  }

  &--ellipsis {
    @include abs.multiline-ellipsis(3);
  }

  &--scrolling {
    max-height: 5rem;
    overflow-y: scroll;
  }

  &__btn-bookmark {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 0;
    top: 1rem;
    right: 0.5rem;
    @include abs.font($font-size: var(--fs-medium-500), $color: var(--neutral-300));
    @include abs.cursive_border($border-width: none, $border-radius: 3.125rem, $color: rgba(2, 0, 60, 0.15));
    & button {
      &:hover, &:active {
        cursor: pointer;
        & svg {
          color: var(--primary-300);
          transition: color 0.2s ease;
        }
      }
    }
  }

  @include abs.mq(medium) {
    &__container {
      max-width: 100%;
      flex-direction: row;
    }
    &__media {
      max-height: 100%;
      width: 50%;
    }
  }
}