@use "../../../abstracts/index" as abs;
@use "../../../abstracts/variables" as *;

.portrait-card {
  position: relative;
  word-wrap: break-word;
  box-sizing: inherit;
  width: 100%;

  &__container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    overflow: hidden;
    @include abs.cursive_border($border-width: $card-border-width, $border-radius: $card-border-radius);
    box-shadow: $card-shadow;
    color: var(--neutral-1000);
    &:not([class*="bg-"]) {
      background-color: var(--card-bg);;
    }
  }

  &__media {
    height: 100%;
    width: 100%;
    max-height: 20rem;
  }

  &__image-link {
    position: relative;
    display: block;
    z-index: 1;

    &::after {
      content: '';
      background-color: rgba(224, 218, 239, 0.2980392157);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
   // min-height: 20rem;
    outline: 0.1rem solid var(--neutral-1000);
    display: block;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    &:not(.portrait-card__image--sidebar) {
      min-height: 20rem;
    }
    &--sidebar {
      height: 11.5rem;
    }
  }

  &__info {
    text-align: center;
    height: 7rem;
    padding: 0.2rem;

    & > h2, & > h5 {
      margin: 0;
      padding: 0.2rem;
    }
  }

  &__text {
    width: 100%;
    margin: 0;
    @include abs.font($font-size: var(--fs-small-200), $font-weight: 400, $color: var(--neutral-1000));
  }

  &__title {
    @include abs.font($font-size: var(--fs-medium-300), $font-weight: 600, $color: var(--neutral-1000));
  }

  &__details-span {
    display: inline-block;
  }


  @include abs.mq(small) {
    &__container {
      &__details-span {
        padding: 0.625rem 0;
        max-width: 5rem;
      }
    }
  }
}