@use "../../../abstracts/index" as abs;
@use "../../../abstracts/variables" as *;
@use "../../../abstracts/colors" as *;

.portrait-card {
  position: relative;
  word-wrap: break-word;
  box-sizing: inherit;
  width: 100%;
  &:not(.portrait-card--vehicle){
    max-width: 500px;
  }
  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include abs.cursive_border($border-width: $card-border-width, $border-radius: $card-border-radius);
    box-shadow: $card-shadow;
    color: var(--neutral-1000);
    cursor: pointer;
    transition: box-shadow 0.25s ease, transform 0.25s ease;

    &--vehicle {
      position: relative;
      isolation: isolate;
      min-height: 30rem;
      text-align: center;
      background-position: center center;
      background-size: cover;
      padding: 1rem;
      @include abs.font($font-size: var(--fs-medium-300), $color: $clr-secondary-300);

      &::after {
        content: '';
        background-color: $color-dark-overlay-400;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: block;
        opacity: 1;
        transition: opacity 0.3s ease-out;
      }
    }

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: $box-shadow-1;
    }

    &:not([class*="bg-"]):not(.portrait-card__container--vehicle) {
      background-color: var(--card-bg);
    }
  }

  &__media {
    height: 100%;
    width: 100%;
    max-height: 20rem;
    &--link {
      position: relative;
      display: block;
      &::after {
        content: '';
        background-color: rgba(224, 218, 239, 0.2980392157);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        opacity: 0;
        transition: opacity 0.3s ease-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  &:has(.portrait-card__media--link:hover),
  &:has(.landscape-card__title:hover) {
    .portrait-card__media--link::after {
      opacity: 1;
    }
    .landscape-card__title {
      text-decoration: underline;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 0.1rem solid var(--neutral-1000);
    display: block;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    &:not(.portrait-card__image--sidebar) {
      min-height: 20rem;
    }
    &--sidebar {
      height: 11.5rem;
    }
  }

  &__info {
    text-align: center;
    height: 8rem;
    padding: 0.2rem;

    & > h2, & > h5 {
      margin: 0;
      padding: 0.2rem;
    }
  }

  &__title {
    @include abs.font($font-size: var(--fs-medium-300), $font-weight: 600, $color: var(--neutral-1000));
  }

  &__text {
    width: 100%;
    margin: 0;
    @include abs.font($font-size: var(--fs-small-200), $font-weight: 400, $color: var(--neutral-1000));
  }
  &__subtitle {
    @include abs.font($font-size: var(--fs-medium-200), $font-weight: 600, $color: var(--neutral-1000));
  }


  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
  }

  @include abs.mq(xxl) {
    &--vehicle {
      max-width: 600px;
    }
  }
}