@use "../../abstracts" as abs;
@use "../../abstracts/variables" as *;

.bookmark-card {
  position: relative;
  @include abs.cursive_border();
  box-shadow: $box-shadow-1;
  & h3 {
    @include abs.singleLine-ellipsis(15rem);
  }
  &__thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
  }
  &__icon{
      height: 100%;
      opacity: .15;
  }
  &__count {
    position: absolute;
    bottom: 70px;
    right: 5px;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--clr-neutral-300);
  }
}
