@use "../../abstracts" as *;

.bookmark-card {
  position: relative;
  box-shadow: $box-shadow-1;
  @include cursive_border();
  & h3 {
    @include singleLine-ellipsis(15rem);
  }
  &__thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
  }
  &__icon{
      height: 100%;
      opacity: .15;
  }
  &__count {
    position: absolute;
    bottom: 70px;
    right: 5px;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 6px;
    font-size: var(--fs-small-200);
    border-radius: 4px;
  }
}
