@use "../../abstracts/index" as abs;
@use "../../abstracts/variables" as *;

.portrait-card {
  &--vehicle {
    min-height: 400px;
    background-position: center center;
    background-size: cover;

    &__container {
      background-color: rgb(50 50 50 / 83%);
      width: 100%;
      text-align: center;
      color: var(--clr-neutral-300);
      font-size: 1rem;
      @include abs.cursive_border();
      box-shadow: $box-shadow-1;
    }
  }

  @include abs.mq(xxl) {
    &--vehicle {
      max-width: 600px;
    }
  }
}