@use "../../abstracts/index" as abs;
@use "../../abstracts/variables" as *;
@use "../../abstracts/colors" as *;

.portrait-card {
  &--vehicle {
    min-height: 30rem;
    background-position: center center;
    background-size: cover;

    &__container {
      background-color: $clr-overlay-400;
      width: 100%;
      text-align: center;
      box-shadow: $box-shadow-1;
      @include abs.font($font-size: var(--fs-300), $color: $clr-secondary-300);
      @include abs.cursive_border();
    }
  }

  @include abs.mq(xxl) {
    &--vehicle {
      max-width: 600px;
    }
  }
}