@use "../../abstracts/index" as abs;
@use "../../abstracts/sizes" as *;

.article {
  position: relative;
  overflow: unset;
  &__content {
    min-height: 40rem;
  }

  &__overview {
    border: 0.15rem solid var(--neutral-1000);
    box-shadow: 0.35rem 0.35rem 0 var(--neutral-1000);
    border-radius: 0.2rem;
    background-color: var(--neutral-100);
  }

  &__image-box {
    width: 100%;
    &--nasa-apod {
      position: relative;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 27rem;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    background-color: var(--neutral-200);

    &--scale-down {
      object-fit: contain;
      padding: 0.5rem;
    }

    &--nasa-apod {
      height: 100%;
    }
  }

  &__title-box{
    @include abs.font($font-size: var(--fs-small-400), $color: var(--neutral-1000));
  }

  &__subtitle {
    margin-block: 0.25rem;
  }

  &__detail-container{
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }

  &__detail-row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &__detail-box {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 0.5rem 0;
    @include abs.font($font-size: var(--fs-small-400), $color: var(--neutral-1000));

    &--col{
      flex-direction: column;
    }

    & svg {
      font-size: var(--fs-medium-500);
      padding: 0 0.5rem;
    }
  }

  &__info-container {
    max-width: 950px;
    line-height: 1.5;
    @include abs.font($font-size: inherit, $color: var(--neutral-1000));
    margin-block: 2rem;
  }

  & section {
    padding: 1rem;

  }

  &__heading-box {
    display: flex;
    align-items: center;

    & h2,
    & h3 {
      margin: 0;
    }

    & svg {
      font-size: var(--fs-small-700);
      padding-right: 0.7rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__info-box {
    padding: 0.2rem 1rem;
    width: 100%;
    & span {
      text-overflow: ellipsis;
      overflow: hidden;
      @include abs.font($font-size: var(--fs-medium-300), $font-weight: bold, $color: var(--neutral-1000));
      margin: 0 0.5rem;
    }
    & p {
      padding: 0.5rem 0;
    }
  }

  &__img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  &__img {
    width: 100%;
    border-radius: 0.79rem;
    padding: 0.5rem 0.5rem;
    &--small {
      max-height: 20rem;
      object-fit: scale-down;
    }
  }
  &__description {
    @include abs.font($font-size: var(--fs-medium-300), $color: var(--neutral-1000));
  }
  &__rocket-info {
    line-height: 2.5;
  }
}

@include abs.mq(medium) {
  .article {
    &__detail-container{
      padding: 0.5rem;
    }
    &__overview {
      flex-direction: row;
    }

    &__info-box--col {
      flex: 0 0 55%;
      max-width: 60.666667%;
      position: relative;
    }

    &__img-box {
      flex: 0 0 66.666667%;
      max-width: 45%;
      position: relative;
      height: auto;

      & img {
        width: 100%;
      }
    }

    &__rocket-info {
      flex-flow: row;
      width: 100%;
    }
  }
}