@use "../../abstracts" as *;

.tooltip {
  &__content {
    position: relative;
    display: inline-block;
    padding: 0.6rem 0.4rem;
    font-size: var(--fs-small-200);
    line-height: 1;
    color: var(--neutral-1000);
    background-color: var(--primary-200);
    user-select: none;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    z-index: 1000;
    @include cursive_border($border-width: 0.1rem);
    &[data-state="delayed-open"][data-side="top"] {
      animation-name: slideDownAndFade;
    }
    &[data-state="delayed-open"][data-side="right"] {
      animation-name: slideLeftAndFade;
    }
    &[data-state="delayed-open"][data-side="bottom"] {
      animation-name: slideUpAndFade;
    }
    &[data-state="delayed-open"][data-side="left"] {
      animation-name: slideRightAndFade;
    }
  }
  &__arrow {
    fill: var(--neutral-1000);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
