@use "../../abstracts" as *;

.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltip__text,
  &:active .tooltip__text {
    visibility: visible;
  }

  &__text {
    position: absolute;
    bottom: 110%;
    left: 50%;
    visibility: hidden;
    width: 120px;
    background-color: var(--primary-200);
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    z-index: 1;
    margin-left: -60px;
    font-size: var(--fs-medium-100);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--primary-200) transparent transparent transparent;
    }
  }
}