@use "../abstracts/index" as abs;
@use "../abstracts/index" as *;

.marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    white-space: nowrap;
    @include abs.font($font-size: var(--fs-medium-100), $font-weight: 600, $color: $clr-dark-cosmos-300);
  }
}

.cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-light-overlay-600;
  border-radius: 5rem;
  padding: 1rem;
  &__count {
    @include abs.font($font-size: var(--fs-medium-100), $font-weight: 600, $color: $clr-dark-cosmos-300);
  }
}