@use "../abstracts/index" as abs;

.marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    white-space: nowrap;
    @include abs.font($font-size: var(--fs-100), $font-weight: 600, $color: var(--clr-neutral-1000));
  }
}

.cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5rem;
  padding: 1rem;
  &__count {
    font-weight: 600;
  }
}