@use "../abstracts/index" as abs;

.search {
  height: auto;
  width: 100%;
  @include abs.font($font-size: var(--fs-100));
  &__searchbar {
    box-sizing: inherit;
    height: 50px;
    width: 100%;
    padding: 0.9rem;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--clr-star-200);
    outline: none;
    &--small{
      width: 250px;
    }
  }

  &__btn-search{
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.9rem;
    background-color: var(--clr-star-200);
    height: 50px;
  }
  @include abs.mq(medium) {
    width: 250px;
  }
}