@use "../abstracts/index" as abs;
@use "../abstracts/variables" as *;

.search {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  @include abs.font($font-size: var(--fs-medium-200));
  &__searchbar {
    box-sizing: inherit;
    height: 45px;
    width: 100%;
    padding: 0.8rem;
    background-color: var(--primary-300);
    outline: none;
    box-shadow: $box-shadow-1;
    color: var(--neutral-1000);
    @include abs.cursive_border($border-width: $button-border-width, $border-radius: $button-border-radius, $corners: (top-left-radius bottom-left-radius));
    &::placeholder {
      color: inherit;
    }
    &--small{
      width: 250px;
    }
  }

  &__btn-search{
    padding: 0.75rem;
    background-color: var(--primary-300);
    height: 45px;
    box-shadow: $box-shadow-1;
    @include abs.cursive_border($border-width: $button-border-width, $border-radius: $button-border-radius, $corners: (top-right-radius bottom-right-radius));
  }

  @include abs.mq(medium) {
    width: 250px;
  }
}