@use "../abstracts/index" as abs;
@use "../abstracts/variables" as *;

.search {
  height: auto;
  width: 100%;
  @include abs.font($font-size: var(--fs-100));
  &__searchbar {
    box-sizing: inherit;
    height: 45px;
    width: 100%;
    padding: 0.8rem;
    border: 0.13rem solid var(--clr-neutral-1000);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--clr-neutral-100);
    outline: none;
    box-shadow: $box-shadow-1;
    &::placeholder {
      color: var(--clr-neutral-1000);
    }
    &--small{
      width: 250px;
    }
  }

  &__btn-search{
    border: 0.13rem solid var(--clr-neutral-1000);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.75rem;
    background-color: var(--clr-neutral-100);
    height: 45px;
    box-shadow: $box-shadow-1;

  }
  @include abs.mq(medium) {
    width: 250px;
  }
}