@use "../abstracts/index" as abs;
@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

.select {
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-300);
    min-width: 0.625rem;
    height: 1.3125rem;
    user-select: none;
    box-shadow: $box-shadow-3;
    @include abs.font($font-size: var(--fs-medium-200), $font-weight: 700, $color: var(--neutral-1000));
    @include abs.cursive_border($border-width: 0.12rem);
    &:not(.select__btn--small):not(.select__btn--medium):not(.select__btn--large):not(.select__btn--yt-video) {
      width: 12rem;
      margin-inline: 0.2rem;
    }

    &:not(.select__btn--yt-video){
      max-width: 15rem;
      margin-inline: 0.2rem;
      padding: 1rem;
    }

    &--small {
      max-width: 7rem;
      min-width: 7rem;
      height: 2.25rem;
    }

    &--yt-video {
      width: 100%;
      color: $clr-star-200;
      background-color: abs.$clr-yt-red-300;
      padding: 2rem 1rem;
    }
    &--ellipsis {
      @include abs.singleLine-ellipsis(9rem);
    }
  }

  &__content {
    display: block;
    margin-top: 0.9375rem;
    background-color: var(--primary-100);
    @include abs.cursive_border($border-width: 0.13rem, $border-radius: 0.2rem);
    width: 14rem;
    z-index: 1;

    &:not(.select__content--full-width){
      position: absolute;
    }

    &--scrollable {
      overflow-y: scroll;
    }

    &--medium {
      width: 8rem;
    }

    &--full-width{
      width: 100%;
    }
  }

  &__wrapper {
    padding: 0.9375rem;
  }

  &__search {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.5rem;
    background-color: var(--primary-200);

    & svg {
      position: absolute;
      top: 50%;
      left: 15px;
      pointer-events: none;
      transform: translateY(-50%);
      @include abs.font($font-size: var(--fs-medium-300), $color: var(--neutral-1000));
    }

    & input {
      height: 40px;
      width: 100%;
      outline: none;
      padding: 0 20px 0 30px;
      background-color: var(--primary-100);
      @include abs.cursive_border($border-width: 0.1rem, $border-radius: 0.125rem);
      @include abs.font($font-size: var(--fs-medium-300), $color: var(--neutral-1000));

      &:focus {
        border: 0.15rem solid var(--neutral-1000);
      }

      &::placeholder {
        color: var(--neutral-1000);
      }
    }
  }

  &__options {
    margin-top: 10px;
    max-height: 250px;
    overflow: visible;
    padding: 0;

    & a {
      width: 100%;
      color: var(--neutral-1000);
    }

    & li, a {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      padding: 0 0.8125rem;
      @include abs.font($font-size: var(--fs-medium-200), $font-weight: 600, $color: var(--neutral-1000));

      &:hover {
        border-radius: 5px;
        background: var(--primary-200);
      }

      &.selected {
        border-radius: 5px;
        background: var(--primary-200);
      }
    }
    &--ellipsis {
      @include abs.singleLine-ellipsis(9rem);
    }
  }
}

