@use "../abstracts/index" as abs;
@use "../abstracts/variables" as *;

.select {
  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    background-color: var(--clr-neutral-300);
    font-size: 0.8rem;
    font-weight: 700;
    min-width: 0.625rem;
    height: 1.3125rem;
    color: var(--clr-neutral-1000);
    user-select: none;
    @include abs.cursive_border($border-width: 0.12rem);
    box-shadow: $box-shadow-2;
    &:not(.select__btn--small):not(.select__btn--medium):not(.select__btn--large):not(.select__btn--yt-video) {
      width: 12rem;
      margin-inline: 0.2rem;
    }

    &:not(.select__btn--yt-video){
      max-width: 15rem;
      margin-inline: 0.6rem;
      padding: 1rem;
    }

    &--small {
      max-width: 7rem;
      min-width: 7rem;
      height: 2.25rem;
    }

    &--yt-video {
      width: 100%;
      color: var(--clr-neutral-300);
      background-color: var(--clr-yt-red);
      padding: 2rem 1rem;
    }
    &--ellipsis {
      @include abs.singleLine-ellipsis(9rem);
    }
  }

  &__content {
    display: block;
    margin-top: 0.9375rem;
    background-color: var(--clr-primary-100);
    @include abs.cursive_border($border-width: 0.13rem, $border-radius: 0.2rem);
    width: 13rem;
    color: var(--clr-neutral-1000);
    z-index: 1;

    &:not(.select__content--full-width){
      position: absolute;
    }

    &--scrollable {
      overflow-y: scroll;
    }

    &--medium {
      width: 8rem;
    }

    &--full-width{
      width: 100%;
    }
  }

  &__wrapper {
    padding: 0.9375rem;
  }

  &__search {
    position: sticky;
    top: 0;
    background-color: var(--clr-primary-200);
    z-index: 1;
    padding: 0.5rem;

    & svg {
      top: 50%;
      left: 15px;
      color: var(--clr-neutral-1000);
      font-size: 1rem;
      pointer-events: none;
      transform: translateY(-50%);
      position: absolute;
    }

    & input {
      height: 40px;
      width: 100%;
      outline: none;
      font-size: 1rem;
      padding: 0 20px 0 30px;
      @include abs.cursive_border($border-width: 0.1rem, $border-radius: 0.125rem);
      background-color: var(--clr-neutral-100);
      color: var(--clr-neutral-1000);
      &:focus {
        border: 0.15rem solid var(--clr-neutral-1000);
      }

      &::placeholder {
        color: var(--clr-neutral-1000);
      }
    }
  }

  &__options {
    margin-top: 10px;
    max-height: 250px;
    overflow: visible;
    padding: 0;

    & a {
      width: 100%;
      color: var(--clr-neutral-1000);
    }

    & li, a {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      padding: 0 0.8125rem;
      font-size: 0.8125rem;
      font-weight: 600;
      color: var(--clr-neutral-1000);

      &:hover {
        border-radius: 5px;
        background: var(--clr-neutral-200);
      }

      &.selected {
        border-radius: 5px;
        background: var(--clr-neutral-200);
      }
    }
    &--ellipsis {
      @include abs.singleLine-ellipsis(9rem);
    }
  }
}

