@use "../abstracts/index" as abs;
@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

.select {
  &__trigger {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-300);
    min-width: 0.625rem;
    height: 1.3125rem;
    box-shadow: $box-shadow-3;
    @include abs.font($font-size: var(--fs-medium-200), $font-weight: 700, $color: var(--neutral-1000));
    @include abs.cursive_border($border-width: 0.12rem);

    &:not(&--small):not(&--yt-video):not(&--full) {
      width: 12rem;
      max-width: 15rem;
      padding: 1rem;
    }

    &--full {
      padding: 1.4rem;
      width: 100%;
    }

    &--small {
      max-width: 7rem;
      min-width: 7rem;
      height: 2.25rem;
      padding: 1rem;
    }

    &--yt-video {
      width: 100%;
      color: $clr-star-200;
      background-color: abs.$clr-yt-red-300;
      padding: 2rem 1rem;
      &:hover {
        background-color: abs.$clr-yt-red-400;
      }
    }

    &--error {
      @include abs.cursive_border($color: $clr-warning-300);
      box-shadow: $box-shadow-warning-1;
      &:hover {
        @include abs.cursive_border($color: $clr-warning-300);
      }
    }

    &--ellipsis {
      @include abs.singleLine-ellipsis(9rem);
    }
  }

  &__content {
    margin-top: 0.9375rem;
    background-color: var(--card-bg);
    @include abs.cursive_border($border-width: 0.13rem, $border-radius: 0.2rem);
    width: 14rem;
    z-index: 1;

    &:not(.select__content--full-width){
      position: absolute;
    }

    &--medium {
      width: 8rem;
    }

    &--full-width{
      width: var(--radix-select-trigger-width);
    }
  }

  &__search {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.5rem;
    background-color: var(--primary-200);

    & svg {
      position: absolute;
      top: 50%;
      left: 15px;
      pointer-events: none;
      transform: translateY(-50%);
      @include abs.font($font-size: var(--fs-medium-300), $color: var(--neutral-1000));
    }

    & input {
      height: 40px;
      width: 100%;
      outline: none;
      padding: 0 20px 0 30px;
      background-color: var(--primary-100);
      @include abs.cursive_border($border-width: 0.1rem, $border-radius: 0.125rem);
      @include abs.font($font-size: var(--fs-medium-300), $color: var(--neutral-1000));

      &:focus {
        border: 0.15rem solid var(--neutral-1000);
      }

      &::placeholder {
        color: var(--neutral-1000);
      }
    }
  }

  &__options {
    max-height: 250px;
    overflow: visible;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
  }

  &__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.6rem;
    @include abs.font($font-size: var(--fs-medium-200), $font-weight: 600, $color: var(--neutral-1000));

    &:hover, &[data-highlighted] {
      border-radius: 5px;
      background: var(--primary-200);
    }

    &--selected, &[data-state="checked"]{
      border-radius: 5px;
      background: var(--primary-200);
    }

    &--ellipsis {
      @include abs.singleLine-ellipsis(9rem);
    }
  }
}

