@use "../abstracts" as *;

main.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & > div > section {
    width: 100%;
  }
  & > section {
    width: 100%;
  }
}
