@use "../abstracts" as abs;
@use "../abstracts" as *;
@use "../abstracts/variables" as *;

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-width: 260px;
  overflow: hidden;
  background-color: var(--nav-300);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-bottom: 1px solid var(--primary-300);

  &__brand-box {
    display: flex;
    align-items: center;
  }

  &__image-link {
    width: 50px;
    height: 50px;
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid $clr-dark-cosmos-300;
    border-radius: 0.2rem;
    box-shadow: 0.22rem 0.22rem 0 $clr-dark-cosmos-300;
    transition: box-shadow 120ms cubic-bezier(.2,.8,.2,1), transform 120ms cubic-bezier(.2,.8,.2,1);
    &:active {
      box-shadow: 0 0 0 var(--neutral-1000);
      transform: translate(0.22rem, 0.22rem);
    }
  }

  &__brand-icon {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__brand-title {
    display: inline-block;
    text-align: center;
    padding: 1rem;

    & h1 {
      @include abs.font($font-size: var(--fs-small-400), $font-weight: 900, $color: $clr-dark-cosmos-300, $font-family: $font-family-orbitron);
    }
  }

  &__hamburger-checkbox {
    display: none;
    &:checked {
      & ~ .navbar__hamburger-label {
        transition: transform 0.5s;
        transform: rotateZ(360deg);

        & .navbar__hamburger-line--top {
          transform: rotate(45deg);
          top: 25px;
        }

        & .navbar__hamburger-line--middle {
          border-color: transparent;
          background-color: transparent;
        }

        & .navbar__hamburger-line--bottom {
          transform: rotate(-45deg);
          top: 13px;
        }
      }

      & ~ .navbar__nav-container {
        height: fit-content;
      }
    }
  }

  &__hamburger-label {
    position: relative;
    display: block;
    cursor: pointer;
    transition: transform 0.5s;
    transform: rotateZ(-360deg);
  }

  &__hamburger-line {
    display: block;
    position: inherit;
    background: $clr-dark-cosmos-300;
    height: 6px;
    width: 2.5rem;
    @include abs.cursive_border($border-width: 0.0625rem, $border-radius: 0.625rem, $color: $clr-dark-cosmos-300);
    transition: all 0.1s ease-out;
    &--top {
      top: 0.625rem;
    }

    &--middle {
      top: 1.125rem;
    }

    &--bottom {
      top: 1.625rem;
    }
  }

  &__nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    interpolate-size: allow-keywords;
    transition: ease-in-out height 0.2s;
  }

  &__nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0.625rem;
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  &__nav-link {
    display: block;
    padding: 0.625rem;
    text-decoration: none;
    width: 100%;
    margin-inline: 0.5rem;
    @include abs.font($font-size: var(--fs-medium-300), $color: $clr-dark-cosmos-300);
    &:hover {
      box-shadow: $box-shadow-nav-1;
    }

    &.active {
      box-shadow: $box-shadow-nav-2;
      @include abs.cursive_border($border-width: 0.125rem, $color: $clr-dark-cosmos-300);
    }
  }

  &__user-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;

    & .skeleton--circle {
      background-color: $clr-dark-cosmos-300;
    }
  }

  &__user-button {
    display: flex;
    justify-content: center;
    padding: 0.625rem;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    margin: 1px 5px;
    @include abs.font($font-size: var(--fs-medium-500), $color: $clr-dark-cosmos-300);

    &:hover {
      transition: ease-in-out 0.2s;
      transform: scale(1.2);
    }
  }

  &__user-link {
    display: flex;
    justify-content: center;
    padding: 0.625rem;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    margin: 1px 5px;
    @include abs.font($font-size: var(--fs-medium-500), $color: $clr-dark-cosmos-300);

    &:hover {
      transition: ease-in-out 0.2s;
      transform: scale(1.2);
    }
  }

}

@include abs.mq(small) {
  .navbar {
    &__image-link {
      width: 70px;
      height: 70px;
    }

    &__brand-title h1 {
      font-size: var(--fs-medium-600);
    }

    &__hamburger-label {
      padding: 0.625rem;
    }
  }
}

@include abs.mq(xl) {
  .navbar {
    flex-flow: row;
    justify-content: flex-start;

    &__hamburger-label {
      display: none;
    }

    &__nav-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 2.5rem 0;
      max-height: 0;
      width: 100%;
    }

    &__nav-list {
      display: flex;
      flex-flow: row;
      list-style-type: none;
      white-space: nowrap;
    }
  }
}

