@use "../../abstracts/variables" as *;
@use "../../abstracts/index" as abs;

.youtube-embed{
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  & iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
}