@use "../../abstracts/index" as *;

.youtube-embed{
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: $box-shadow-1;
  @include cursive_border();
  & iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
}