@use "../../abstracts/index" as abs;

.table {
  &__wrapper {
    border-radius: 3px;
    overflow-x: scroll;
  }

  & table {
    border-collapse: collapse;
    border: 0.2rem solid var(--neutral-300);

    & tr {
      border: 0.2rem solid var(--neutral-300);

      & th, td {
        border-color: var(--neutral-300);
        padding: 12px 10px;
        vertical-align: middle;
        text-align: center;
        font-size: var(--fs-medium-100);
        color: var(--neutral-300);
      }
    }

    & tbody {
      tr:hover {
        background: var(--dark-cosmos-200);
        cursor: pointer;
      }
    }
  }

  @include abs.mq(medium) {
    &__wrapper {
      overflow-x: unset;

      & table {
        & tr {
          & th, td {
            font-size: var(--fs-small-200);
          }
        }
      }
    }
  }
}
